
MONGODB_URI= 'mongodb+srv://dbTrello:MRHPobOG16gVZF7b@trello.u1j73yy.mongodb.net/?appName=Trello'
DATABASE_NAME='trello-TruongLamDev'
DATABASE_PASSWORDS='MRHPobOG16gVZF7b'

APP_HOST='localhost'
APP_PORT=8017
